.buttonsflex {
    display: flex;
    flex-direction: column;
}

button {
    margin: 1rem;
    opacity: 1;
}

.cardwidth {
    width: 40vw;
}

.mainpage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin: 3rem auto;
}

input[type='checkbox'] {
    height: 1.875rem;
    width: 1.875rem;
}

.boxesalign {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
}

.boxesalign div {
    display: flex;
    align-items: center;
}

.inputsaligncenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.alignco2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.alignco2 input[type='text'] {
    margin: 0;
    padding: 0.5rem;
}

label {
    margin-left: 0.625rem;
}

input[type='text'],
select {
    margin: 0.5rem
}

.carSpecalign {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxesalign div {
    width: 6.875rem;
}

.bottomPadding {
    padding: 10rem;
    background: transparent;
}

body {
    background: url('../assets/bgpic.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 43rem;
}

.askingYears {
    margin-top: 1.5rem;
}

.description {
    font-size: x-small;
}

@media all and (max-width:1000px) {
    .cardwidth {
        width: 60vw;
    }
}

@media all and (max-width:800px) {
    .cardwidth {
        width: 70vw;
    }
}

@media all and (max-width:600px) {
    .cardwidth {
        width: 90vw;
    }
}